<div>
    <h1>Science Olympiad Study Events</h1>
    <ul>
        <li><button (click)="navigateToQuiz('anatomy-physiology')">Anatomy/Physiology</button></li>
        <li><button (click)="navigateToQuiz('fossils')">Fossils</button></li>
        <li><button (click)="navigateToQuiz('forestry')">Forestry</button></li>
        <li><button (click)="navigateToQuiz('astronomy')">Astronomy</button></li>
        <li><button (click)="navigateToQuiz('disease-detectives')">Disease Detectives</button></li>
    </ul>
</div>